body{
    margin: 0;
    background-color: rgb(127, 150, 255);
}
.link{
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid black;
    background-color:  rgb(5, 15, 60);
    border-radius: 0.5rem;
}
.heading{
    color: whitesmoke;
    margin-bottom: 0.5rem; 
    margin-top: 2rem;
}
.header{
    color: whitesmoke;
}
.label-is{
    margin: 1rem;
    padding: 1 rem;
    font-weight: bold;
    font-size: larger;
    color: whitesmoke
}
.heading-is{
    margin: 1rem;
    padding: 1rem;
    color: whitesmoke;
}
.angle-is{
    margin: 1rem;
    display: block;  
}
.button-is{
    margin: 1rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color:  rgb(5, 15, 60);
    color: whitesmoke;
}
.output-is{
    color: whitesmoke;
}
.footer{
    background-color: rgb(5, 15, 60);
    padding: 2rem 1rem;
    text-align: center;
    color: whitesmoke;
    border-top-right-radius: 1rem;
    width: 100vw;
    position: fixed;
    bottom: 0;
}
.footer .social-link{
    color: whitesmoke;
    text-decoration: none;
    padding: 0.5rem;
}
.footer .footer-header{
    font-weight: bold;
    font-size: medium;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer ul li{
    display: inline;
}
main{
    width: 70vw;
    margin: 10px auto;
    margin-bottom: 10rem;
}